<a href="https://colab.research.google.com/github/Freddy-Y/HDAG-Technical-Deliverable/blob/main/F25_HDAG_Deliverable_Case_Team_Analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HDAG F25 Technical Deliverable - CASE TEAM ANALYST
## Due Date: September 16th, 12:00 PM (NOON)

<div class='header_yellow'>
<hr color=black>

# Instructions
</div>

This take-home assignment is meant to evaluate your background and fit for a role within HDAG. We're interested in learning more about your proficiency in Python, data analysis and presentation skills. The assignment is open internet, and you are encouraged to use online resources; however, you may not consult anyone else while doing the assignment. You are responsible for all of your code, and will be asked about anything you write.

**Please note: You are absolutely not expected to have experience in every area or be able to answer every question, especially in regards to the optional sections. Exceptional analysts have in the past only completed 80% or so of the deliverable.**

Some of the questions may seem open ended or ambiguous. This is a close match for the actual problems we work on with our case teams; we use data to extract meaningful and actionable insights. Do your best to come up with a realistic answer!

## Duration
This assessment is expected to take around 180-240 minutes in total (depending on how long you spend on the open-ended section(s) you choose to complete).

## Submission
Once you have completed all parts of the deliverable, download your code as an `.ipynb` file. Also various questions will ask you to make slides describing your findings: **Make sure to use this slide template for all parts of your presentation: https://docs.google.com/presentation/d/1xMIUYQBUaWpG3Rm4mkIWBOtLVGW4Tsyy/edit?usp=sharing&ouid=104623957706540710269&rtpof=true&sd=true**. These will be the slides you present during the interview and should tell a story about your data analysis process.

Once finished, upload your completed `.ipynb` file and presentation slide deck (as a `.pdf`) to this link: **https://forms.gle/j8N4CDiiY4L8FwjG9**

<hr color=black>

# 1. Data Analysis

This question will allow you to demonstrate ability on analyzing three real-world datasets:

- US international air travel
- Movie ratings
- College incomes

See below for detailed descriptions of each dataset and task. The following sub-questions are roughly in order of increasing difficulty.

In [ ]:
# RUN THE FOLLOWING TO CLONE THE DATA REPO
!git clone https://github.com/AnmayG/f24-hdag-data

Cloning into 'f24-hdag-data'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 11 (delta 2), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (11/11), 9.12 MiB | 4.38 MiB/s, done.
Resolving deltas: 100% (2/2), done.

### 1.1.1. Visualization

This question will allow you to demonstrate ability on analyzing a real-world dataset. You will work with a US international air travel dataset. Below is a description of the dataset.

The data comes from the U.S. International Air Passenger and Freight Statistics Report. As part of the T-100 program, USDOT receives traffic reports of US and international airlines operating to and from US airports. There are two datasets available:

Departures: Data on all flights between US gateways and non-US gateways, irrespective of origin and destination.

Each observation provides information on a specific airline for a pair of airports, one in the US and the other outside. Three main columns record the number of flights: Scheduled, Charter, and Total.

Passengers: Data on the total number of passengers for each month and year between a pair of airports, as serviced by a particular airline.

U.S. International Air Passenger and Freight data are confidential for a period of 6 months, after which it can be released. As a result, quarterly reports and the year to date/calendar year raw data files available here will always lag by two quarters.

**Run the code below to load the dataset. Explore the data to gain an understanding of the variables that exist. Then, create a barplot ranking the top 10 busiest airports. Think about how you would define "busiest". Make sure to label the plot axes and give it an appropriate title.**

In [ ]:
# Run this command to download the data
import pandas as pd
departure_data = pd.read_csv("f24-hdag-data/International_Report_Departures.csv")
passengers_data = pd.read_csv("f24-hdag-data/International_Report_Passengers.csv")

In [147]:
#TODO: Create top 10 busiest airports barplot.
passengers_data.head()

<class 'str'>

In [174]:
busiest_airports = pd.DataFrame(
    columns=["Airport", "Airport ID", "Scheduled Departures", "Charter Departures", "Total Departures", "Scheduled Passengers", "Charter Passengers", "Total Passengers"])

busiest_airports = busiest_airports.astype({
    "Airport": "string",
    "Airport ID": "string",
    "Scheduled Departures": "int64",
    "Charter Departures": "int64",
    "Total Departures": "int64",
    "Scheduled Passengers": "int64",
    "Charter Passengers": "int64",
    "Total Passengers": "int64"})

busiest_airports["Airport"] = pd.concat([
    departure_data["usg_apt"].drop_duplicates(),
    departure_data["fg_apt"].drop_duplicates()]).reset_index(drop=True)

busiest_airports["Airport ID"] = pd.concat([
    departure_data["usg_apt_id"].drop_duplicates(),
    departure_data["fg_apt_id"].drop_duplicates()]).reset_index(drop=True)

busiest_airports = busiest_airports.sort_values(by="Airport", axis=0, ascending=True, ignore_index=True)

departure_us_scheduled_summary = departure_data.groupby("usg_apt", as_index=False)["Scheduled"].sum()
departure_f_scheduled_summary = departure_data.groupby("fg_apt", as_index=False)["Scheduled"].sum().rename(columns={'fg_apt': 'usg_apt'})
busiest_airports["Scheduled Departures"] = pd.concat([departure_us_scheduled_summary, departure_f_scheduled_summary]).sort_values(by="usg_apt", axis=0, ascending=True, ignore_index=True)["Scheduled"]

departure_us_charter_summary = departure_data.groupby("usg_apt", as_index=False)["Charter"].sum()
departure_f_charter_summary = departure_data.groupby("fg_apt", as_index=False)["Charter"].sum().rename(columns={'fg_apt': 'usg_apt'})
busiest_airports["Charter Departures"] = pd.concat([departure_us_charter_summary, departure_f_charter_summary]).sort_values(by="usg_apt", axis=0, ascending=True, ignore_index=True)["Charter"]

departure_us_total_summary = departure_data.groupby("usg_apt", as_index=False)["Total"].sum()
departure_f_total_summary = departure_data.groupby("fg_apt", as_index=False)["Total"].sum().rename(columns={'fg_apt': 'usg_apt'})
busiest_airports["Total Departures"] = pd.concat([departure_us_total_summary, departure_f_total_summary]).sort_values(by="usg_apt", axis=0, ascending=True, ignore_index=True)["Total"]


passengers_us_scheduled_summary = passengers_data.groupby("usg_apt", as_index=False)["Scheduled"].sum()
passengers_f_scheduled_summary = passengers_data.groupby("fg_apt", as_index=False)["Scheduled"].sum().rename(columns={'fg_apt': 'usg_apt'})
busiest_airports["Scheduled Passengers"] = pd.concat([passengers_us_scheduled_summary, passengers_f_scheduled_summary]).sort_values(by="usg_apt", axis=0, ascending=True, ignore_index=True)["Scheduled"]

passengers_us_charter_summary = passengers_data.groupby("usg_apt", as_index=False)["Charter"].sum()
passengers_f_charter_summary = passengers_data.groupby("fg_apt", as_index=False)["Charter"].sum().rename(columns={'fg_apt': 'usg_apt'})
busiest_airports["Charter Passengers"] = pd.concat([passengers_us_charter_summary, passengers_f_charter_summary]).sort_values(by="usg_apt", axis=0, ascending=True, ignore_index=True)["Charter"]

passengers_us_total_summary = passengers_data.groupby("usg_apt", as_index=False)["Total"].sum()
passengers_f_total_summary = passengers_data.groupby("fg_apt", as_index=False)["Total"].sum().rename(columns={'fg_apt': 'usg_apt'})
busiest_airports["Total Passengers"] = pd.concat([passengers_us_total_summary, passengers_f_total_summary]).sort_values(by="usg_apt", axis=0, ascending=True, ignore_index=True)["Total"]

for col in busiest_airports.select_dtypes(include="float"):
    busiest_airports[col] = busiest_airports[col].astype("Int64")

busiest_airports.head(30)

,Airport,Airport ID,Scheduled Departures,Charter Departures,Total Departures,Scheduled Passengers,Charter Passengers,Total Passengers
0,1B1,10010,0,2,2,0,3,3
1,AAO,10637,0,1,1,0,358,358
2,ABA,15194,0,1,1,0,2,2
3,ABE,10135,2082,121,2203,37285,3485,40770
4,ABI,10728,25,3,28,3775,0,3775
5,ABQ,10140,107,28,135,4141,2570,6711
6,ABR,10223,0,2,2,0,26,26
7,ABV,15022,0,9,9,3324,22,3346
8,ABY,15607,0,1,1,0,78,78
9,ABZ,10147,0,8,8,0,2039,2039
10,ACA,10162,12077,1811,13888,1153617,277521,1431138
11,ACC,11015,3802,31,3833,931941,1822,933763
12,ACE,10151,0,1,1,0,2,2
13,ACK,10154,0,16,16,0,134,134
14,ACT,10155,8,4,12,1643,536,2179
15,ACY,10158,131,674,805,17020,59635,76655
16,ADA,16216,0,58,58,0,4,4
17,ADD,16293,3705,0,3705,1112057,0,1112057
18,ADJ,15183,0,5,5,0,18,18
19,ADK,13127,0,2,2,34,0,34
20,ADL,11623,1,17,18,0,36,36
21,ADN,16251,43,0,43,1275,9963,11238
22,ADS,10171,0,268,268,0,10,10
23,ADW,10172,14,90,104,12986,0,12986
24,ADX,10547,0,1,1,201,16,217
25,ADZ,14626,129,20,149,0,4,4
26,AEP,10863,1,5,6,274,69095,69369
27,AER,10182,0,3,3,1768,260,2028
28,AEX,10185,4,1057,1061,185096,43490,228586
29,AF1,15060,0,22,22,5270,13,5283

In [180]:
top_ten_passengers = busiest_airports.sort_values(by="Total Passengers", axis=0, ascending=False, ignore_index=True).loc[0:9]
top_ten_passengers.head(15)

,Airport,Airport ID,Scheduled Departures,Charter Departures,Total Departures,Scheduled Passengers,Charter Passengers,Total Passengers
0,HKY,12149,0,1,1,243647607,2145392,245792999
1,INV,12872,0,7,7,185289558,804758,186094316
2,LHE,12066,285,4,289,174849214,5996234,180845448
3,JIB,11161,0,5,5,128531257,53899,128585156
4,MRV,13474,0,1,1,107435066,1599631,109034697
5,DQK,10917,0,8,8,98343137,834552,99177689
6,VCT,13784,2,0,2,94820143,2074457,96894600
7,MHT,13296,2711,19,2730,95440340,311614,95751954
8,PMB,13587,0,1,1,93542994,426012,93969006
9,APW,13243,7071,3,7074,80205548,548718,80754266

In [159]:
departure_data.loc[departure_data["usg_apt"] == "HKY"].head(100)

,data_dte,Year,Month,usg_apt_id,usg_apt,usg_wac,fg_apt_id,fg_apt,fg_wac,airlineid,carrier,carriergroup,type,Scheduled,Charter,Total
13293,12/01/2015,2015,12,12149,HKY,36,14312,PVR,148,20402,GL,1,Departures,0,1,1

### 1.1.2. Open-Ended Data Analysis
**This question will allow you to show your analysis skills.**

Here are some ideas you could potentially explore:

- Time-series analysis
- Map of busiest airports
- Flight paths
- Correlation between deparatures and passengers
- Distribution of larger and smaller airlines
- Regional analysis
- Incorporate outside datasets (population, weather, etc.)

Finally, prepare 1-2 slides presenting the final results of your analysis. You will be asked to explain your process and reasoning in the next interview round.

In [ ]:
## TODO: Your code for analysis!

### 1.3.1 Machine Learning
This questions tests the following skills: binary prediction/classification (binary), feature engineering, an visualization. **This is a prediction task to determine whether a person makes over $50K a year.**

An individuals annual income results from various factors. Intuitively, it is influenced by the individuals education level, age, gender, occupation, and etc. This **Adult dataset** provided here contains 14 attributes and one target field, income, which is divided into two classes: <=50K and >50K

Load in the data and import any libraries you might need (e.g. numpy, pandas, sklearn).

In [ ]:
# Run this command to download the data
import pandas as pd
df = pd.read_csv("f24-hdag-data/adult_data.csv")

1. **Handle missing data**. Do you notice any data points that have missing / weird feature values? Describe what you find and make any modifications necessary such that your classifier in question 3 handles these data points correctly.

In [ ]:
# TODO: Handle missing data

2. **Explore the data features.** Make a side-by-side boxplot of the binary income categorization against one of the factors (e.g. age). Comment on any insights from this plot and note any potential outliers or unusual data points.

In [ ]:
# TODO: Visualize

3. **Build a classifier to predict whether an individual's income is greater than or less than $50k.** The following steps might be useful in building and reporting the results of this classifier:
- Data preprocessing: explore missing data, outliers, NULL values, and scale any numeric fields
- Train-test split
- Choose a classification model and implement it.
- Visualize the results of your classifier. *Suggestions: confusion matrix, ROC curve*

In [ ]:
# TODO: Build the classifier

Finally, prepare 1-2 slides presenting your classifier: which model you chose, how you processed data, and some visualizations and final results. You will be asked to explain your process and results in the next interview round.

### 1.3.2 - Dealing with Data Imbalance

Now think about the imbalance in this dataset in the incomes. 70% of incomes are under $50K. Use some techniques that you know to deal with the imbalance in the variable you want to predict. Benchmark how well your class-imbalance-corrected data works versus the vanilla dataset. Discuss, based on your results, whether class-imbalance correction is worth doing. Consider:
- Oversampling and undersampling techniques
- SMOTE sampling.
- Random Forest with Class Weighting.

# Bonus 1. Principal Component Analysis (PCA)

While these question are **completely optional**, exceptional responses will be considered in the deliberations process! If you do complete this question, include **1 slide** on your findings/results from the below questions at the end of your presentation.

In [ ]:
df = pd.read_csv('f24-hdag-data/tmdb_5000_movies.csv')
df.head()

In [ ]:
X = df[['original_title', 'popularity', 'release_date', 'revenue', 'runtime', 'vote_average']]
X

In [ ]:
# Standardize the data
# Your code here...

In [ ]:
# Plot the explained variance ratio for each component as a bar plot

# Bonus 2. NLP
**This question will allow you to show your NLP skills. Please perform the following two tasks.**




1) Write a classifier to identify sentiment based on the "label" column! 1 indicates negative, 2 indicates neutral, and 3 indicates positive sentiment.

2) Prepare a short presentation (1-2 slides) explaining the approach you used - what pre-processing, feature extraction, and classification methodologies - and why you used them.

In [ ]:
# Run this command to download the data
import pandas as pd
df = pd.read_csv("f24-hdag-data/twitter_training.csv", encoding="unicode_escape")

In [ ]:
#TODO: your classifier + analysis code goes here!

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=117b2bb2-f996-4b6f-b8c3-af3ec0f31b37' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>

## As a REMINDER:

### Submission
Once you have completed all parts of the deliverable, download your code as an `.ipynb` file. Also various questions will ask you to make slides describing your findings: **Make sure to use this slide template for all parts of your presentation: https://docs.google.com/presentation/d/1xMIUYQBUaWpG3Rm4mkIWBOtLVGW4Tsyy/edit?usp=sharing&ouid=104623957706540710269&rtpof=true&sd=true**. These will be the slides you present during the interview and should tell a story about your data analysis process.

Once finished, upload your completed `.ipynb` file and presentation slide deck (as a `.pdf`) to this link: **https://forms.gle/j8N4CDiiY4L8FwjG9**